<?php use senac\framework\views\ViewTags; ?> 
<?php use senac\lavajato\viewModels\ClienteViewModel; ?> 

<?php 
$GLOBALS["titulo"] = "Editar Cliente";
$GLOBALS["tituloDoFormulario"] = "Editar Cliente";
$GLOBALS["iconeDoFormulario"] = "fa-users";

ViewTags::iniciarBloco("conteudo");
?>

<form role="form">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Dados do Cliente </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="txt-nome-usuario"> Nome </label>
                                <input type="text" placeholder="Nome do cliente" id="txt-nome-usuario" class="form-control" value="<?php echo $model->nome ?>">
                            </div>

                            <div class="form-group">
                                <label for="txt-senha-usuario"> Senha </label>
                                <input type="text" placeholder="Senha do usuário" id="txt-senha-usuario" class="form-control" value="<?php echo $model->senha ?>">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="txt-email-usuario">Email</label>
                                <input type="email" placeholder="Email do usuário" id="txt-email-usuario" class="form-control" value="<?php echo $model->email ?>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div style="float:left">
                <input class="btn btn-white btn-voltar" type="button" class="btn btn-white" value="Voltar" />
            </div>
            <div style="float:right">
                <input type="button" class="btn btn-primary" value="Alterar" />
            </div>
        </div>
    </div>
</form>

<?php 
ViewTags::terminarBloco("conteudo"); 
ViewTags::layout(__DIR__ . "..\\..\\shared\\_layout.html");
?>