<?php use senac\framework\views\ViewTags; ?>
<?php use senac\lavajato\viewModels\ClienteDaListaViewModel; ?>

<?php 
$GLOBALS["titulo"] = "Manter Clientes";
$GLOBALS["tituloDoFormulario"] = "Manter Clientes";
$GLOBALS["iconeDoFormulario"] = "fa-users";

ViewTags::iniciarBloco("conteudo");
?>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Clientes  </h5>

            </div>
            <div class="ibox-content">
                <?php ViewTags::tabela(new ClienteDaListaViewModel(), $model->clientes(), array("Editar" => "/lavajato/Clientes/Editar")); ?>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <input type="button" class="btn btn-white btn-voltar" value="Voltar" />
        <a href="<?php ViewTags::actionLink('/lavajato/Clientes/Cadastrar') ?>" class="btn btn-primary"> + <i class="fa fa-user"></i> Novo Cliente </a>
    </div>
</div>

<?php 
ViewTags::terminarBloco("conteudo"); 
ViewTags::layout(__DIR__ . "..\\..\\shared\\_layout.html");
?>